# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/rips/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath
/nbproject/private/
/src/knx/nbproject/private/
.DS_Stosre
*.DS_Store
nbproject/
composer.phar
