{% extends "::simple.html.twig" %}

{% block body %}
<div>
	<h1>Incapacidad:</h1>
	<p>{{ historia.incapacidad }}</p>
	<p>
		<b>Medico: </b> {{ usuario.nombre }} {{ usuario.apellido }} Especialidad: {{ usuario.especialidad }} <br/>
		<b>Registro: </b>	<br/>
		<b>Firma: </b>
	</p>
</div>
{% endblock %}